In [1]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [2]:
data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
pd1 = pd.DataFrame(data)

In [3]:
pd1

     0   1
0 -1.0   2
1 -0.5   6
2  0.0  10
3  1.0  18

In [4]:
pd2  = pd.read_csv(r'E:\Desktop\机器学习\具体计算\Be-Fcc-ML-Data\Be-Fcc-AllData.csv')
X = pd2.iloc[:,0:2]
Y = pd2.iloc[:,-1]

In [5]:
X

          x1    x2
0      200.0     0
1      200.0    10
2      200.0    20
3      200.0    30
4      200.0    40
...      ...   ...
12302   50.0  3920
12303   50.0  3930
12304   50.0  3940
12305   50.0  3950
12306   50.0  3960

[12307 rows x 2 columns]

In [6]:
scaler = MinMaxScaler()
scaler = scaler.fit(data)
result = scaler.transform(data)

In [7]:
scaler2 = MinMaxScaler()
scaler2 = scaler2.fit(X)
result2 = scaler2.transform(X)

In [8]:
result2

array([[0.05      , 0.        ],
       [0.05      , 0.00252525],
       [0.05      , 0.00505051],
       ...,
       [0.0125    , 0.99494949],
       [0.0125    , 0.99747475],
       [0.0125    , 1.        ]])

In [10]:
pd3 = pd.DataFrame(result2)

In [11]:
pd3

            0         1
0      0.0500  0.000000
1      0.0500  0.002525
2      0.0500  0.005051
3      0.0500  0.007576
4      0.0500  0.010101
...       ...       ...
12302  0.0125  0.989899
12303  0.0125  0.992424
12304  0.0125  0.994949
12305  0.0125  0.997475
12306  0.0125  1.000000

[12307 rows x 2 columns]

In [27]:
a = pd3.iloc[:,0:1]
b = pd3.iloc[:,-1]